/* Form css */
.form_home {
    display: flex;
}

.home_text2 {
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: default;
    margin-left: 80px;
    margin-bottom: 180px;
}

.home_text3 {
    font-size: 75px;
}

.container1 {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #E5E8EB;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.inputs {
    text-align: left;
    margin-top: 30px;
}

/* label,
input,
select,
option,
button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
} */

label {
    margin-bottom: 4px;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
    color: gray;
}

input {
    width: 100% !important;
    padding: 10px;
    padding-left: 20px;
    height: auto;
    font-size: 14px;
    border-radius: 50px;

}

button {
    color: white;
    margin-top: 20px;
    background: #48a43e;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    border-color: #48a43e;
    font-style: inter;
    font-weight: 900;
    transition: 0.5s;
    /* transition: box-shadow 0.15s; */
}

button:hover {
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}

.react-select__control {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    border: none;
    /* Add this line to remove the border */
    outline: none;
    /* Add this line to remove the outline */
}

.react-select__value-container {
    padding: 0;
    /* Remove default padding */
}

.react-select__input {
    color: inherit;
    background: none;
    opacity: 0;
    width: 100%;
    font: inherit;
    min-width: 2px;
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
}

.react-select__indicator-separator {
    display: none;
    /* Hide the indicator separator */
}