:root { 
  --black: #04152d;
  --black2: #041226;
  --black3: #020c1b;
  --green: rgb(21, 130, 66);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}