.navbar_background {
    background-color: rgb(229, 232, 235) !important;
}

.RapidLogo {
    width: 250px;
    height: 47px;
    object-fit: cover;
    box-sizing: border-box;
}

.nav_menu {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.1s ease;
}

.nav_menu:hover {
    color: var(--green);
}

.UserIcon {
    position: absolute;
    top: 24%;
    right: 5%;
    font-size: 25px;
    margin-left: 12px;
    margin-bottom: 10px ;
}